﻿<div class="jumbotron">
    <h1>TMA Simulator</h1>
    <p class="lead">
        The TMA Simulator application is to provide a means of training sonar
        technicians in Target Motion Analysis mathematics and Acoustic Doppler
        Theory using a web-based simulator.  This product will have the ability
        to simulate multiple vessels, demonstrating correct acoustic characteristics,
        and provide simulated sonar screens and a top-down view of the situation
        being simulated.  The ability to pre-configure and run a simulation, and
        save the pre-configuration and the actual simulation run will be provided
        on a per-user basis.
    </p>
    <p >It is also a means to demonstrate TDD and Refactoring techniques to my team.</p>
    @Html.Action("Index", "Vessels")
</div>
